html,
body {
    margin: 0;
    /*padding: 0;*/
    background-color: white;
    margin-top: 33px;
}

#SA{
    /*ссылки*/
    font-size: 25px;
    text-decoration: none;
    font-family: Arial;
    color: black;
}

.center{
    /*ссылки*/
    margin: auto;
    width: 880px; /* Ширина элемента в пикселах */
}

.fa-phone-square-alt{
    margin-left: 130px;

}

.fa-envelope{
    margin-left: 38px;
}

.Sb{
    /*ссылки*/
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin-left: 7px;
    text-decoration: none;
    color: black;
    font-size: small;

}
#d {
    /*фон для звезд*/
    width: 100vw;
    margin-top: 50px;
    height: 525px;
    background-image: radial-gradient(circle at bottom right, #448074, #1b4263);
    /*background-image: -ms-radial-gradient(bottom right, #448074, #1b4263);*/
    /*background-image: -o-radial-gradient(bottom, right, #448074, #1b4263);*/
    /*background-image: -wekbit-radial-gradient(bottom, #448074, right, #1b4263);*/
    /*-webkit-background-image: -wekbit-radial-gradient(bottom right, #448074, #1b4263);*/
    max-height: 525px;
    position: absolute;
    z-index: 1;
    overflow: hidden;

}

.star {
    /*звезды*/
    opacity: 50%;
    border-radius: 90%;
    background-color: rgba(183, 190, 255, 0.7);
    position: relative;
    box-shadow: 0px 0px 2px 1px rgba(143, 139, 255, 0.5);
}
.text1{


    position: relative;
    z-index: 2;
    margin-top: 150px;
    width: 390px;

}
.hand{
    /*рука с телефоном*/
    position: relative;
    z-index: 10;
    /*right: 20%;*/
    width: 500px;
    margin: auto;
    margin-top: -302px;

}
.block2{
    margin: auto;
    width: 880px;
}
.text{
    font-family: 'Raleway', sans-serif;
    color: white;
    opacity: 80%;
    width: 800px;

}

#lol{
    font-size: 10px;
    font-family: Arial;
    opacity: 50%;
    color: white;
}
.list-group-flush .list-group-item{
    border-right: 1px solid #a19f9f;
        /*border-width: 0px;*/
    /*border-top: 0px;*/
    border-bottom: 0px;
    text-align: center;

}
.list-group-item.active{
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-right: 10px solid greenyellow;
}

.text2{
    margin-inline-end: 10px;
}
#down{
    /*width: 400px;*/
    font-variant-caps: all-petite-caps;
    /*margin-top: 500px;*/
    border-width: 5px;
    border-style: solid;
    /*padding: 8px;*/
    border-color: #0d4761;
    background-color: #0d4761;
    /*background-size: auto;*/
    color: #fdfdfd;
    border-radius: 20px 20px 20px 20px;
    font-family: Arial;


}
#LM{
    width: 240px;
    height: 50px;
    font-variant-caps: all-petite-caps;
    /*margin-top: 500px;*/
    /*border-width: 3px;*/
    border-style: solid;
    /*padding: 8px;*/
    border-color: #0d4862;
    /*background-color: #ffffff;*/
    color: #636C6C;
    border-radius: 40px 40px;
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;


}
.cont3{
    height: 600px;
    width: 880px;

    margin: auto;


}
.block3-1{
    /*display: inline-block;*/
    /*position: relative;*/
    /*border-collapse: collapse;*/
    width: 561px;
    margin-top: 100px;
    margin-right: auto;
    /*height: 400px;*/
    /*text-align:left ;*/
    /*vertical-align: middle;*/
    font-family: 'Raleway', sans-serif;
    /*margin-left: auto;*/

}

.phone2{

    /*display: inline-block;*/
    /*position: absolute;*/
    /*margin-top: 900px;*/
    margin-left: auto;
    width: 319px;
    margin-top: -600px;
    /*height: 656px;*/
}
.block3-1-1-1{
    color: #5dca88;
    width: 560px;
    /*margin-top: 1000px;*/

    font-size: 35px;
}
.block3-1-1-2{
    width: 350px;
    color: #8c9494;
    font-size: 35px;
}
.block3-1-1-3{
    width: 300px;
    color: #8c9494;
    /*font-size: 35px;*/
}
.block3-1-1-4{
    width: 450px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #8c9494;
    /*width: 100px;*/
}